Node-RED/flow_ein-und_ausgabe.json
[
    {
        "id": "6c0f8ba.73ef974",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "537d9dc.21ed864",
        "type": "http request",
        "z": "6c0f8ba.73ef974",
        "name": "GET request mit datum/name/inhalt mit GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "10.0.0.46/yii2-basic/basic/web/index.php?r=api/messages",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "7a56aabe.93df84"
            ]
        ]
    },
    {
        "id": "c2b50cfd.604ff8",
        "type": "inject",
        "z": "6c0f8ba.73ef974",
        "name": "GET Eingabe",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "647f9b9a.8bc1a4"
            ]
        ]
    },
    {
        "id": "7a56aabe.93df84",
        "type": "debug",
        "z": "6c0f8ba.73ef974",
        "name": "ausgebende Nachricht",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "37a03f21.b66e88",
        "type": "function",
        "z": "6c0f8ba.73ef974",
        "name": "Funktion mit POST Param",
        "func": "\nmsg.headers={ \n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload={\n    name:\"Patrick\",\n    inhalt:\"POST ueber Node-RED\"\n    \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "f68e12f5.ebec08",
        "type": "inject",
        "z": "6c0f8ba.73ef974",
        "name": "GET Abfrage",
        "topic": "",
        "payload": "{\"name\":\"JSON\",\"inhalt\":\"Test mit JSON\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "537d9dc.21ed864"
            ]
        ]
    },
    {
        "id": "d6e1b684.bc4c2",
        "type": "debug",
        "z": "6c0f8ba.73ef974",
        "name": "eingebende Nachricht",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "647f9b9a.8bc1a4",
        "type": "http request",
        "z": "6c0f8ba.73ef974",
        "name": "GET request mit name/inhalt über URL",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "10.0.0.46/yii2-basic/basic/web/index.php?r=api/newmessage&name=PatrickAPI&inhalt=GETRED",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 620,
        "y": 80,
        "wires": [
            [
                "d6e1b684.bc4c2"
            ]
        ]
    },
    {
        "id": "16b039ab.18359e",
        "type": "comment",
        "z": "6c0f8ba.73ef974",
        "name": "Eingabe",
        "info": "Eingabe mit POST Parametern",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "a81239e5.da88f8",
        "type": "comment",
        "z": "6c0f8ba.73ef974",
        "name": "Ausgabe",
        "info": "Ausgabe mit GET Parametern",
        "x": 100,
        "y": 200,
        "wires": []
    }
]